<!-- views/sobre.ejs -->
<%- include('partials/header') %>

<div class="container mt-5">
  <h1><%= title %></h1>
  <p>Essa é a página sobre o nosso site.</p>
</div>

<%- include('partials/footer') %>
