<h1>Bem-vindo à Minha Aplicação</h1>
<p>Este é o conteúdo principal da página inicial.</p>

<img src="/images/image.png" alt="Imagem Atenção" width="936" height="364" style="display:block; margin-top:20px;" />

<div class="container">
  <div class="row">
    
    <div class="col-md-6 mb-4">
      <div class="card">
        <img src="/images/card1.png" class="card-img-top" alt="Imagem do Card 1">
        <div class="card-body">
          <p class="card-text">Texto do card 1 explicando o que essa imagem representa.</p>
        </div>
      </div>
    </div>
    
    <div class="col-md-6 mb-4">
      <div class="card">
        <img src="/images/card2.png" class="card-img-top" alt="Imagem do Card 2">
        <div class="card-body">
          <p class="card-text">Texto do card 2 explicando o que essa imagem representa.</p>
        </div>
      </div>
    </div>
    
    <div class="col-md-6 mb-4">
      <div class="card">
        <img src="/images/card3.png" class="card-img-top" alt="Imagem do Card 3">
        <div class="card-body">
          <p class="card-text">Texto do card 3 explicando o que essa imagem representa.</p>
        </div>
      </div>
    </div>
    
    <div class="col-md-6 mb-4">
      <div class="card">
        <img src="/images/card4.png" class="card-img-top" alt="Imagem do Card 4">
        <div class="card-body">
          <p class="card-text">Texto do card 4 explicando o que essa imagem representa.</p>
        </div>
      </div>
    </div>
    
  </div>
</div>